.mainProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../Data/Imgs/nebulosacangrejo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
  position: relative;
}

.mainProjects > h2 {
  font-size: 4rem;
  margin-top: 5.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  text-shadow: 7px 7px 3.5px black;
}

.mainProjects > section {
  background-color: rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
  width: 80%;
  height: fit-content;
  margin-bottom: 2rem;
  box-shadow: 7px 7px 3.5px black;
}

.mainProjects > section > div {
  margin-top: 2rem;
}

.btn {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 6rem;
  gap: 0.5rem;
  border: 1px dashed rgba(244, 228, 9, 0.85);
  border-radius: 0.5rem;
  color: rgba(244, 228, 9, 0.85);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 7px 7px 3.5px black;
}

.ico {
  color: rgba(244, 228, 9, 0.85);
  font-size: 2rem;
}

.btn:hover {
  cursor: pointer;
  color: rgba(244, 228, 9, 0.85);
  scale: 1.1;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .mainProjects {
    background-image: url('../Data/Imgs/nebulosaCangrejo.png');
  }

  .mainProjects > h2 {
    font-size: 2.25rem;
    margin-top: 7rem;
  }

  .mainProjects > section {
    width: 87.5%;
    margin-bottom: 2rem;
    height: fit-content;
  }

  .mainProjects > section > div {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .btn {
    text-indent: -999px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    left: 0.5rem;
    top: 4.5rem;
  }

  .ico {
    font-size: 1.5rem;
  }
}
