.mainNgc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../Data/ImageComponents/Butterfly/butterfly.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
}

.mainNgc > h2 {
  margin-top: 1rem;
}
.mainNgc > img {
  margin-top: 1rem;
  border: 1px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
  width: 25rem;
}

.mainNgc > div {
  width: 80%;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
}

.mainNgc > div > h3 {
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.mainNgc > div > div {
  display: flex;
  width: 100%;
}

.mainNgc > div > div > div,
.mainNgc > div > div > img {
  width: 50%;
  margin: 2rem;
}

.mainNgc > div > div > div > p {
  font-size: 1.25rem;
  text-align: justify;
}

.mainNgc > div > div > img {
  border: 1px solid rgb(245, 245, 245, 0.6);
  border-radius: 0.5rem;
}

.mainNgc > div > div > img:hover {
  scale: 1.3;
  transition: 1s;
}

.mainNgc > p {
  width: 80%;
  margin-top: 2rem;
  text-align: left;
}

.mainNgc > p > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mainNgc > p > a {
  text-decoration: none;
  color: rgba(244, 228, 9, 0.85);
}

.mainNgc > p > a:hover {
  color: rgb(0, 98, 255);
}

.back,
.toTop {
  position: fixed;
  background: none;
  border: 1px dashed white;
  border-radius: 9999px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
}

.back {
  top: 2rem;
  left: 1.5rem;
}

.toTop {
  bottom: 2rem;
  right: 1.5rem;
}

.back:hover,
.toTop:hover {
  color: rgb(0, 98, 255);
  border-color: rgb(0, 98, 255);
  scale: 1.1;
  transition: 1s;
}
