.mainAbout,
.mainAbout > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainAbout {
  flex-direction: column;
  background-image: url('../Data/Imgs/pilares-v2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.mainAbout > h2,
.mainAbout > h3,
.mainAbout > section {
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mainAbout > h2 {
  font-size: 4rem;
  margin-top: 5.5rem;
  letter-spacing: 2px;
}

.mainAbout > h3 {
  font-size: 1.5rem;
}

.mainAbout > section {
  flex-direction: row;
  width: 80%;
  gap: 2rem;
  margin-top: 1rem;
}

.mainAbout > section > section,
.mainAbout > section > img {
  width: 50%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.mainAbout > section > section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mainAbout > section > section > p {
  text-align: justify;
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 1.8;
}

.btn {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 6rem;
  gap: 0.5rem;
  border: 1px dashed rgba(244, 228, 9, 0.85);
  border-radius: 0.5rem;
  color: rgba(244, 228, 9, 0.85);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.35);
}

.ico {
  color: rgba(244, 228, 9, 0.85);
  font-size: 2rem;
}

.btn:hover {
  cursor: pointer;
  color: rgba(244, 228, 9, 0.85);
  scale: 1.1;
  font-weight: bold;
}
