.mainStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Data/galaxy1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.mainStart > h1 {
  font-family: 'Paytone+One';
}
