.mainNavBar,
.mainNavBar > h2,
.navItems,
.menu,
.mainNavBar > div {
  display: flex;
  align-items: center;
}

.mainNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 4;
  font-family: Arial, Helvetica, sans-serif;
}

.mainNavBar > h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  width: 35%;
  height: 100%;
  margin-bottom: 0;
  color: rgba(239, 35, 60, 0.85);
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(239, 35, 60, 0.85);
}

.navItems,
.menu {
  width: 55%;
  height: 100%;
  justify-content: space-evenly;
}

.mainNavBar > div {
  width: 15%;
  height: 100%;
  justify-content: space-evenly;
}

.navItems > a,
.menu > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
}

.navItems > a:hover,
.menu > a:hover {
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 98, 255);
  scale: 1.2;
  transition: 0.3s ease-out all;
}

.icon,
.icon2 {
  color: rgba(245, 245, 245, 0.85);
}

.icon:hover,
.icon2:hover {
  cursor: pointer;
  color: rgb(0, 98, 255);
}

.icon {
  font-size: 2.5rem;
}
.icon2 {
  font-size: 2.35rem;
}

.navResponsive {
  display: none;
}

/* ----------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
  .mainNavBar {
    height: 4rem;
  }

  .mainNavBar > h2 {
    width: 60%;
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .mainNavBar > div {
    width: 25%;
  }

  .icon {
    font-size: 1.25rem;
  }
  .icon2 {
    font-size: 1.15rem;
  }

  .navResponsive {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    font-size: 1.75rem;
  }

  .navItems {
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
  }

  .menu {
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.6s all ease-in-out;
    transform: translateX(-600px);
  }
}
