.mainFooter,
.mainFooter > h3,
.mainFooter > section {
  display: flex;
  align-items: center;
}
.mainFooter {
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 4rem;
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.mainFooter > h3 {
  width: 30%;
  height: 2rem;
  margin-bottom: 0;
  border-right: 1px solid white;
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
  letter-spacing: 1px;
}

.mainFooter > h3 > a {
  text-decoration: none;
  color: rgba(244, 228, 9, 0.85);
  padding-left: 0.6rem;
  letter-spacing: 1px;
}

.mainFooter > h3 > a:hover {
  cursor: pointer;
  color: rgba(239, 35, 60, 0.85);
}

.mainFooter > section {
  border-left: 1px solid white;
  height: 2rem;
  width: 20%;
  justify-content: space-evenly;
}

.icon,
.icon2 {
  color: rgba(245, 245, 245, 0.85);
}

.icon:hover,
.icon2:hover {
  cursor: pointer;
  color: rgb(0, 98, 255);
}

.icon {
  font-size: 2.5rem;
}
.icon2 {
  font-size: 2.35rem;
}

@media only screen and (max-width: 600px) {
  .mainFooter {
    height: 3rem;
  }

  .mainFooter > h3 {
    width: 50%;
    font-size: 0.8rem;
    text-align: center;
    padding-left: 0.5rem;
  }

  .mainFooter > h3 > a {
    padding-left: 0px;
  }

  .mainFooter > section {
    width: 50%;
  }

  .icon {
    font-size: 1.45rem;
  }
  .icon2 {
    font-size: 1.35rem;
  }
}
