.mainGalaxy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../Data/ImageComponents/Galaxy/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.85);
  -webkit-text-stroke: 0.5px rgba(0, 0, 255, 0.3);
}

.mainGalaxy > h2 {
  margin-top: 1rem;
}
.mainGalaxy > img {
  margin-top: 1rem;
  border: 1px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
}

.mainGalaxy > div {
  width: 80%;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0.5px solid rgba(245, 245, 245, 0.6);
  border-radius: 0.5rem;
}

.mainGalaxy > div > h3 {
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.mainGalaxy > div > div {
  display: flex;
  width: 100%;
}

.mainGalaxy > div > div > div,
.mainGalaxy > div > div > img {
  width: 50%;
  margin: 2rem;
}

.mainGalaxy > div > div > div > p {
  font-size: 1.25rem;
  text-align: justify;
}

.mainGalaxy > div > div > img {
  border: 1px solid rgb(245, 245, 245, 0.6);
  border-radius: 0.5rem;
}

.mainGalaxy > div > div > img:hover {
  scale: 1.3;
  transition: 1s;
}

.mainGalaxy > p {
  width: 80%;
  margin-top: 2rem;
  text-align: left;
}

.mainGalaxy > p > a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mainGalaxy > p > a {
  text-decoration: none;
  color: rgba(244, 228, 9, 0.85);
}

.mainGalaxy > p > a:hover {
  color: rgb(0, 98, 255);
}

.back,
.toTop {
  position: fixed;
  background: none;
  border: 1px dashed white;
  border-radius: 9999px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
}

.back {
  top: 2rem;
  left: 1.5rem;
}

.toTop {
  bottom: 2rem;
  right: 1.5rem;
}

.back:hover,
.toTop:hover {
  color: rgb(0, 98, 255);
  border-color: rgb(0, 98, 255);
  scale: 1.1;
  transition: 1s;
}

@media only screen and (max-width: 600px) {
  .mainGalaxy > h2 {
    margin-top: 2.5rem;
  }

  .mainGalaxy > img {
    width: 90%;
  }

  .mainGalaxy > div {
    width: 90%;
  }

  .mainGalaxy > div > h3 {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 0rem;
    padding-top: 0rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }

  .mainGalaxy > div > div {
    flex-direction: column;
    justify-items: center;
  }

  .mainGalaxy > div > div > div,
  .mainGalaxy > div > div > img {
    width: 85%;
    margin: auto;
  }

  .mainGalaxy > div > div > img {
    margin-bottom: 1rem;
  }

  .mainGalaxy > div > div > img:hover {
    scale: 1;
  }

  .mainGalaxy > div > div > div > p {
    font-size: 1rem;
  }

  .mainGalaxy > p {
    width: 75%;
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
    height: 5rem;
  }

  .mainGalaxy > p > a {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .back,
  .toTop {
    width: 2.25rem;
    height: 2.25rem;
  }

  .back {
    top: 0.5rem;
    left: 0.5rem;
  }

  .toTop {
    bottom: 0.5rem;
    right: 0.5rem;
  }

  .back:hover,
  .toTop:hover {
    color: white;
    border-color: white;
  }
}
